.app {
  /* to facilitate absolute positioning of footer */
  position: relative;
  min-height: 100vh;
  padding: 0px 24px 72px;
}

@media only screen and (min-width: 744px) {
  .app {
    padding: 0px 80px 72px;
  }
}
